footer {
  grid-column: 1 / -1;
  position: relative;
}

.footer-blurred-oval {
  position: absolute;
  width: 25vw;
  height: 25vw;
  background-color: #00ffe0;
  border-radius: 50%;
  filter: blur(120px);
  z-index: -1;
  right: -30vw;
  bottom: 0;
}

.container {
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding: 5rem 0;
}

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-logo {
  text-align: right;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3.6rem;
  letter-spacing: 0.1em;
  cursor: pointer;
  line-height: 1.5;
}

p.copyright {
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.links-container {
  display: flex;
  gap: 3rem;
}

figcaption {
  font-size: 1.8rem;
  margin-left: 0.5rem;
}

figure {
  padding-left: 1rem;
  border-left: 2px solid #f3f3f3;
}

figure ul {
  list-style: none;
  padding: 0.5rem;
}

.link {
  display: block;
  font-size: 1.2rem;
  font-family: inherit;
  text-decoration: none;
  color: #f3f3f3;
  transition: all 0.2s ease-out;
}

.link:hover {
  color: #00ffe0;
  transform: translateX(5px);
}
