@media (max-width: 960px) {
  html {
    font-size: 45%;
  }

  body {
    grid-template-columns: repeat(12, 6.8rem);
  }

  /* TESTIMONIALS */
  .testimonial-img-container img {
    width: 70%;
  }

  p.review {
    font-size: 1.2rem;
  }
}

@media (max-width: 780px) {
  html {
    font-size: 37%;
  }

  body {
    grid-template-columns: repeat(12, 6rem);
  }

  /* NAV */

  .regular-nav {
    display: none;
  }

  .burger-nav {
    display: block;
  }
}

@media (max-width: 590px) {
  html {
    font-size: 30%;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 25%;
  }

  body {
    grid-template-columns: repeat(12, 4.5rem);
  }

  /* TOURS */
  .cards-container {
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 80%;
  }
}
