@media (max-width: 960px) {
  html {
    font-size: 45%;
  }

  body {
    grid-template-columns: repeat(12, 6.8rem);
  }

  /* TESTIMONIALS */
  .testimonial-img-container img {
    width: 70%;
  }

  p.review {
    font-size: 1.2rem;
  }

  /* FORM */
  .tour-form {
    width: 55rem;
  }
}

@media (max-width: 780px) {
  html {
    font-size: 37%;
  }

  body {
    grid-template-columns: repeat(12, 6rem);
  }

  /* NAV */

  .regular-nav {
    display: none;
  }

  .burger-nav {
    display: block;
  }

  /* FORM */
  .tour-form {
    width: 65rem;
  }
}

@media (max-width: 590px) {
  html {
    font-size: 30%;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 25%;
  }

  body {
    grid-template-columns: repeat(12, 4.5rem);
  }

  /* HERO */

  section.hero {
    margin: 10rem auto 20rem auto;
  }
  .hero-container img {
    top: 40rem;
  }

  /* TOURS */
  .cards-container {
    flex-direction: column;
    align-items: center;
    gap: 6rem;
  }
  .card {
    width: 80%;
    padding-bottom: 5rem;
  }
  .card .img-container {
    width: 35rem;
    height: 35rem;
  }

  .card h3 {
    font-size: 6rem;
  }

  div.promo {
    width: 12rem;
    height: 12rem;
    top: -4.5rem;
    right: -4.5rem;
  }

  div.promo span {
    font-size: 3rem;
  }

  .tours .card ul {
    height: 25rem;
    font-size: 3rem;
    max-width: 80%;
  }

  .price-new,
  .price-now {
    font-size: 8rem;
  }

  .price-before {
    font-size: 3rem;
  }

  .card .btn-price,
  .submit-form {
    width: 35rem;
    height: 8rem;
    font-size: 3rem;
  }

  /* FORM */
  .tour-form {
    width: 80rem;
    padding-bottom: 8rem;
  }

  .tour-form h3 {
    font-size: 7rem;
  }

  label {
    font-size: 3.5rem;
  }

  input,
  select {
    margin-bottom: 3rem;
    padding: 1rem 2rem;
  }

  .people {
    margin-top: 7rem;
  }

  .close-overlay {
    width: 5rem;
    height: 5rem;
  }

  .submit-form {
    width: 50rem;
    height: 10rem;
    font-size: 3.5rem;
  }
  /* TESTIMONIALS */
  section.testimonials {
    flex-direction: column;
    align-items: center;
  }

  .headings-container {
    width: 100%;
  }

  #quotation {
    top: 0%;
    left: 10%;
  }

  .testimonials-container {
    width: 100%;
  }

  .testimonial {
    padding: 0 4rem 3rem 4rem;
  }

  .testimonial-img-container img {
    width: 55%;
  }

  p.review {
    font-size: 2.2rem;
  }

  p.name {
    font-size: 2.5rem;
  }

  .star-rating {
    font-size: 3.5rem;
  }
}
