* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 1.9;
  color: #444;
  background-color: #f3f3f3;
}

section {
  height: fit-content;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 15rem;
}

h2 {
  font-family: "Vollkorn", sans-serif;
}

footer {
  background-color: #222;
  color: #f3f3f3;
}
