* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 52.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  line-height: 1.9;
  color: #f3f3f3;
  background-color: #0b051f;

  display: grid;
  grid-template-columns: repeat(12, 7.5rem);
  grid-gap: 2rem;
  justify-content: center;
}

main {
  grid-column: 1/ -1;
}

section {
  /* height: fit-content; */
  margin: 0 auto;
  margin-bottom: 15rem;
}

.bgc {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  /* background: radial-gradient(
        at 18% 99%,
        rgb(223, 229, 113) 0px,
        transparent 50%
      )
      repeat scroll 0% 0%,
    radial-gradient(at 97% 8%, rgb(118, 249, 173) 0px, transparent 50%) repeat
      scroll 0% 0%,
    radial-gradient(at 79% 82%, rgb(233, 109, 131) 0px, transparent 50%) repeat
      scroll 0% 0%,
    radial-gradient(at 96% 10%, rgb(222, 81, 251) 0px, transparent 50%) repeat
      scroll 0% 0%,
    radial-gradient(at 42% 20%, rgb(116, 240, 251) 0px, transparent 50%) repeat
      scroll 0% 0%,
    radial-gradient(at 4% 49%, rgb(203, 88, 218) 0px, transparent 50%) repeat
      scroll 0% 0%,
    rgba(0, 0, 0, 0)
      radial-gradient(at 57% 33%, rgb(218, 83, 228) 0px, #a299ff 50%) repeat
      scroll 0% 0%; */
  background-color: #ffd399;
  background-image: radial-gradient(
      at 92% 75%,
      hsla(211, 80%, 66%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 70% 15%, hsla(150, 66%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 16% 16%, hsla(273, 74%, 63%, 1) 0px, transparent 50%),
    radial-gradient(at 25% 91%, hsla(6, 73%, 62%, 1) 0px, transparent 50%),
    radial-gradient(at 22% 28%, hsla(292, 76%, 78%, 1) 0px, transparent 50%),
    radial-gradient(at 96% 41%, hsla(336, 91%, 78%, 1) 0px, transparent 50%),
    radial-gradient(at 82% 55%, hsla(78, 69%, 74%, 1) 0px, transparent 50%);
}
