section.testimonials {
  margin: 0 auto;
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  position: relative;
}

#testimonial-blurred-oval {
  position: absolute;
  width: 60vw;
  height: 60vw;
  border-radius: 50%;
  background-color: rgba(235, 0, 255, 0.2);
  filter: blur(160px);
  z-index: -1;
  left: -45vw;
}

#quotation {
  position: absolute;
  z-index: -1;
  width: 21.6rem;
  fill: white;
  top: 30%;
  left: 10%;
}

.headings-container {
  width: 50%;
  transform: translateY(-10rem);
}

.headings-container h2 {
  margin: 0 auto;
  text-align: left;
  font-size: 3.8rem;
  font-weight: 100;
}

.headings-container h1 {
  font-size: 7.1rem;
  line-height: 1.1;
}
.testimonials-container {
  width: 50%;
  margin: 0 auto;
  padding: 7rem 0 15rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content;
  justify-content: center;
  gap: 2rem;
}

.testimonial {
  background: linear-gradient(
    32deg,
    rgba(30, 25, 46, 1) 35%,
    rgba(89, 78, 127, 1) 100%
  );
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2.2rem 3rem 2.2rem;
}

.testimonial-img-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial-img-container img {
  border-radius: 50%;
  box-shadow: 0px 0px 6px -3px rgba(66, 68, 90, 1);
}

p.review {
  margin-top: 1rem;
  font-size: 1.4rem;
  font-weight: 100;
  text-align: center;
  height: 10rem;
  line-height: 1.2em;
}

p.name {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  justify-self: end;
}

.star-rating {
  text-align: center;
  font-size: 2.2rem;
  margin: 0 auto;
}

.checked {
  color: orange;
}
